.header-menu {
  min-height: 30px;
}

.header-menu div {
  min-width: 25%;
  max-height: 100%;
}

.header-menu div input {
  min-width: 120px;
}

.menu-buttons {
  vertical-align: middle;
}

/* Secció Main */

/* Nova Versió */
.product-cards--container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
  padding: 0.5%;
  margin: 0.5%;
  justify-content: center;
}

.product-detail--card {
  width: 100%;
  max-width: 45%;
  min-height: 150px;
  
  padding: 0.5%;
  margin: 0.5%;
  /* temporal */
  background-color: yellowgreen;
}

/*
.oferta-dia {
  display: flex;
  flex-wrap: wrap;
}

.oferta-semana {
  display: flex;
  flex-wrap: wrap;
}*/

