.header-menu {
  min-height: 30px;
}

.header-menu div {
  min-width: 25%;
  max-height: 100%;
}

.header-menu div input {
  min-width: 120px;
}

.menu-buttons {
  vertical-align: middle;
}

.main-product-detail {
  padding: 0%;
  margin: 0%;
}
.product-cards--container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  
  padding: 0.5%;
  margin: none;
  justify-content: center;
}

.product-detail--card {
  width: 100%;
  max-width: 45%;
  min-height: 150px;
  padding: 0.5%;
  margin: 0.5%;
}

.fruites, .verdures {
  max-width: 24%;
}

.receptes,
.resum {
  width: 24%;
  display: inline-block;
}

.ingredients {
  padding-left: 50px;
}

video{
  width: 100%;
}

.recipe-detail--card {
  width: 100%;
  padding: 0.5%;
  margin: 0.5%;
  display: inline-flex;
}